/* Replace shadow */
* {
  box-shadow: none !important;
}

/* Searchbar color */
[class*="SearchBarSuggest"] {
  box-shadow: 0 1px 4px 0 rgba(12, 12, 14, 0.2),
    0 0 2px 0 rgba(12, 12, 14, 0.12) !important;
}

form[data-testid="mainSearchBar"] {
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16) !important;
}

body[data-theme="dark"] form[data-testid="mainSearchBar"]:focus-within {
  box-shadow: 0 1px 6px rgba(255, 255, 255, 0.676) !important;
}

body[data-theme="dark"] [data-testid="home"] {
  background-color: #131416;
}

body[data-theme="light"] form[data-testid="mainSearchBar"]:focus-within {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.676) !important;
}

/* Hamburger */
body[data-theme="dark"] [class*="SearchHeaderBurger"] {
  color: #fff;
}

/* One click search buttons */
[data-device="desktop"] .buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  z-index: 10000;
  transition-duration: 0.3s;
  transition-property: top, left;
  transition-delay: 50ms;
  max-height: none;
  min-height: 400px;
  height: 40vh;
  position: fixed;
}

[data-device="desktop"]
  .SearchHeader-module__SearchHeader___27RFp.SearchHeader-module__SearchHeaderFloating___2z9qx
  .buttons {
  left: 20px;
  top: 132px;
}

[data-device="desktop"] .SearchHeader-module__SearchHeader___27RFp .buttons {
  left: -20px;
  top: -80px;
}

[data-device="desktop"] .button {
  display: inline-block;
  height: 37px;
  margin: auto 0;
  cursor: pointer;
}

[data-device="mobile"] .buttons {
  display: flex;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin: auto;
  background-color: #131416;
  border-top: 1px solid #2f3237 !important;
  padding-top: 10px;
}

body[data-theme="dark"][data-device="mobile"] .buttons {
  background-color: #131416;
}

body[data-theme="light"][data-device="mobile"] .buttons {
  background-color: #fff;
}

[data-device="mobile"] .button {
  display: inline-block;
  height: 37px;
  margin: 0 auto;
  cursor: pointer;
}

body[data-theme="light"] #wiki > g > path {
  fill: rgb(0, 0, 0);
}

body[data-theme="dark"] #wiki > g > path {
  fill: rgb(255, 255, 255);
}

body[data-theme="light"][data-device="desktop"] #wiki > g > path {
  fill: rgb(0, 0, 0);
}

/* Hide mobile footer */

[data-device="mobile"] footer {
  display: none;
}

/* headers */

/* headers Colors */

.SearchHeader-module__SearchHeader___27RFp {
  background-color: transparent !important;
}

body[data-theme="light"] [class*="SearchHeader"],
body[data-theme="light"] [class*="SuggestableSearchBarMobile"] {
  background-color: #fff !important;
}

body[data-theme="dark"] [class*="SearchHeader"],
body[data-theme="dark"] [class*="SuggestableSearchBarMobile"] {
  background-color: #131416 !important;
}

body[data-theme="light"] [data-testid="mainSearchBar"] {
  background-color: #fff !important;
}

body[data-theme="dark"] [data-testid="mainSearchBar"] {
  background-color: rgb(41, 41, 47) !important;
}

/* headers borders */

body[data-theme="light"] [class*="SearchHeaderFloating"],
body[data-theme="light"] .SearchHeader-module__SearchHeader___27RFp {
  border-bottom: 3px solid rgb(255, 255, 255);
}

body[data-theme="dark"] [class*="SearchHeaderFloating"],
body[data-theme="dark"] .SearchHeader-module__SearchHeader___27RFp {
  border-bottom: 3px solid #131416 !important;
}

/* search bar width */

[class*="SearchBarContainer"] {
  max-width: 652px !important;
}

.SearchHeader-module__SearchHeader___27RFp [class*="SearchBarContainer"] {
  max-width: none !important;
}

.SearchHeader-module__SearchHeader___27RFp.SearchHeader-module__SearchHeaderFloating___2z9qx
  [class*="SearchBarContainer"] {
  max-width: 652px !important;
}

/* Hide product home page */

.SearchHeader-module__SearchHeader___27RFp [data-testid="productsAppMenuLink"] {
  display: none;
}

.SearchHeader-module__SearchHeader___27RFp.SearchHeader-module__SearchHeaderFloating___2z9qx
  [data-testid="productsAppMenuLink"] {
  display: inherit;
}

/* Home page search bar position */

[data-device="desktop"] .SearchHeader-module__SearchHeader___27RFp {
  top: 10vw;
  margin-left: 5vw;
  margin-right: 10vw;
}

[data-device="desktop"]
  .SearchHeader-module__SearchHeader___27RFp.SearchHeader-module__SearchHeaderFloating___2z9qx {
  top: 0;
  margin-left: 0;
  margin-right: 0;
}

/* Search page search bar height */
.SearchHeader-module__SearchHeader___27RFp.SearchHeader-module__SearchHeaderFloating___2z9qx
  form[data-testid="mainSearchBar"] {
  height: 48px !important;
}

/* Home page search bar height */
.SearchHeader-module__SearchHeader___27RFp form[data-testid="mainSearchBar"] {
  height: 60px !important;
}

/* Hide toast */
[data-testid="mobile-app-toast"],
[class*="DownloadQwantApp"] {
  display: none !important;
}

/* Hide Discontinued Music service */
a[data-testid="musicNavItem"] {
  display: none !important;
}

/* Add margin to Image tab and Shopping Tab to better display */
[data-device="desktop"] [class*="Images-module__ImagesGrid"] {
  margin-left: 25px !important;
}

[data-device="desktop"] [class*="Shopping-module__ShoppingLayout"] {
  margin-left: 35px !important;
}

/* SearchBar */
form[data-testid="mainSearchBar"],
[class*="SearchBarSuggest"] {
  border: none !important;
}

form[data-testid="mainSearchBar"] {
  height: 48px !important;
  padding-left: 12px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

/* Product and Maps Buttons */
a[data-testid="MapsMenuLink"],
a[data-testid="productsAppMenuLink"] {
  border: none !important;
}

/* Product Button */
a[data-testid="productsAppMenuLink"] {
  margin-right: 20px !important;
}

/* Hide Map Button */
a[data-testid="MapsMenuLink"] {
  visibility: hidden;
}

/* SearchBar Reset button */
body[data-theme="light"] [class*="SearchBarResetButton"] {
  border-right: 1px solid rgb(89, 89, 95) !important;
}

body[data-theme="dark"] [class*="SearchBarResetButton"] {
  border-right: 1px solid rgb(255, 255, 255) !important;
}

/* Hide ugly parts of start page */
[class*="Home-module__container"] {
  display: none !important;
}

[data-device="desktop"] [data-testid="home"] {
  min-height: calc(100vh - 180px);
}

[data-device="mobile"] [data-testid="home"] {
  min-height: calc(100vh - 85px);
}

/* Native buttons SVG colors */

body[data-theme="light"]
  a[data-testid="MapsMenuLink"]
  > svg
  > path:nth-child(1),
body[data-theme="light"]
  a[data-testid="productsAppMenuLink"]
  > svg
  > path:nth-child(1),
body[data-theme="light"]
  button[aria-label="Rechercher sur le web"]
  > svg
  > path:nth-child(1) {
  fill: rgb(0, 0, 0) !important;
}

body[data-theme="dark"] a[data-testid="MapsMenuLink"] > svg > path:nth-child(1),
body[data-theme="dark"]
  a[data-testid="productsAppMenuLink"]
  > svg
  > path:nth-child(1),
body[data-theme="dark"]
  button[aria-label="Rechercher sur le web"]
  > svg
  > path:nth-child(1) {
  fill: rgb(255, 255, 255) !important;
}

/* Header links */
body[data-theme="dark"] [class*="SearchHeaderLinkLabel"] {
  color: rgb(167, 172, 180) !important;
  font-size: 14px !important;
}

body[data-theme="light"] [class*="SearchHeaderLinkLabel"] {
  color: #131416;
  font-size: 14px !important;
}

/* Navbar tab hover colors */
[class*="NavBarItemActive"],
[class*="Text-module__primary"]:hover,
[class*="Navbar-module__NavBarItem"]:hover {
  color: #1a6aff !important;
}

/* Hide logo before change with js */
[class*="SearchHeaderLogo"] {
  visibility: hidden;
  height: 80% !important;
}

/* fix margin-right logo desktop */

[data-device="desktop"] [class*="SearchHeaderLogo"] {
  margin-right: 0 !important;
}

/* Reset and search buttons */
button[type="search"] > svg {
  height: 24px !important;
  width: 24px !important;
  margin-right: 10px !important;
}

button[type="reset"] {
  height: 24px !important;
  width: 34px !important;
}

/* Footer */
footer * {
  background-color: transparent !important;
}

body[data-theme="light"] footer {
  border-top: 3px solid rgb(255, 255, 255);
}

body[data-theme="dark"] footer {
  border-top: 1px solid #2f3237 !important;
}
